#grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

#grid-container > .item{
    height: calc(calc(100vw / 6) - 5px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid black 1px;
    overflow: hidden;
    transition: box-shadow 0.3s, border-color 0.3s;
}

#grid-container > .item:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-color: #FFFF;
}

#grid-container > .item > .container{
    padding: 20px;
    height: calc(100% - 40px);
}

#grid-container > .item > .container > .title{
    height: calc(80% - 20px);
}

#grid-container > .item > .container > .delete{
    height: 20%;
}

#grid-container > .item > .container >.delete > img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

#grid-container > .item > .container > .delete > img:hover {
    cursor: pointer;
}

#grid-container > .item > .container > .title > .item-text{
    font-family: Raleway, sans-serif;
    text-align: center;
}

#grid-container > #add-card{
    border: dashed black;
    position: relative;
}

#add-card:hover{
    border-color: #AAA;
    cursor: pointer;
}

#add-card > img{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
}

#add-card:hover > img{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    fill: #aaa
}