#game{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

#card{
    width: 30%;
    margin: 50px auto 0;
    padding: 100px;
    border: solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#card > #card-title{
    text-align: center;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}

#card > #card-answer{
    margin: 10px auto;
    display: block;
}

#card > #card-submit{
    margin: 0 auto;
    display: block;
    padding: 2px 30px;
}

#score {
    font-family: Raleway, sans-serif;
    text-align: center;
    margin: 30px auto 0;
}