{% extends 'helpers/base.jinja' %}
{% import 'helpers/macros.jinja' as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='cards.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7"></script>
    <script src="{{ url_for('static', filename='cards.js') }}"></script>
{% endblock %}

{% block nav %}
    {{ macros.nav(
        ("Cards", "/cards", "active"),
        ("Play", "/play"),
        ("Logout", "/logout", "right")
    ) }}
{% endblock %}

{% block content %}
    <div id="grid-container">
        {% for card in user.cards %}
            <div class="item">
                {{ card.render() }}
            </div>
        {% endfor %}
        <div class="item" id="add-card" onclick="addCardPrompt()">
            <img src="{{ url_for('static', filename='icons8-plus.svg') }}" alt="Add Card">
        </div>
    </div>
{% endblock %}