{% extends 'helpers/base.jinja' %}
{% import 'helpers/macros.jinja' as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}"/>
    <script src="{{ url_for('static', filename='sweetalert.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}

{% block nav %}
    {{ macros.nav(
        ("Cards", "/cards"),
        ("Play", "/play", "active"),
        ("Logout", "/logout", "right")
    ) }}
{% endblock %}

{% block content %}
    <h1 id="score">0</h1>
    <div id='card'>
        <h1 id="card-title">Loading...</h1>
        <input type="text" id="card-answer" title="answer" placeholder="Answer">
        <button id="card-submit" onclick="submit()" data-id=null disabled>Ok</button>
    </div>
{% endblock %}